<section class="projects-section">
  <h2 class="section-heading"><span class="number">03.</span> Things I've Built</h2>

  <div class="featured-projects">
    @for (project of projects; track project.title; let i = $index) {
      <div class="project" [class.reverse]="i % 2 !== 0">
        <div class="project-image">
          <a [href]="project.url" target="_blank" rel="noopener noreferrer">
            <div class="image-wrapper">
              <img [src]="project.image" [alt]="project.title" />
            </div>
          </a>
        </div>

        <div class="project-content">
          <p class="project-overline">Featured Project</p>
          <h3 class="project-title">
            <a [href]="project.url" target="_blank" rel="noopener noreferrer">{{ project.title }}</a>
          </h3>
          <div class="project-description">
            <p>{{ project.description }}</p>
          </div>
          <ul class="project-tech">
            @for (tech of project.technologies; track tech) {
              <li>{{ tech }}</li>
            }
          </ul>
          <div class="project-links">
            <a [href]="project.url" target="_blank" rel="noopener noreferrer" aria-label="External Link">
              <i class="bi bi-box-arrow-up-right"></i>
            </a>
          </div>
        </div>
      </div>
    }
  </div>
</section>
