<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/small-logo.png" alt="GetOneDev Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
      GetOneDev, LLC
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [@linkAnimation]="linkState" (click)="onLinkClick()"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="active" [@linkAnimation]="linkState" (click)="onLinkClick()">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio" routerLinkActive="active" [@linkAnimation]="linkState" (click)="onLinkClick()">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active" [@linkAnimation]="linkState" (click)="onLinkClick()">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" [@linkAnimation]="linkState" (click)="onLinkClick()">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="app-content">
  <router-outlet></router-outlet>
</main>
<footer class="text-center py-3 bg-light">
  <p class="mb-0">&copy; 2025 GetOneDev, LLC. All rights reserved.</p>
</footer>
