.services-section {
  min-height: calc(100dvh - 120px);
  display: flex;
  align-items: center;
  padding: 100px 0;

  h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 50px;
  }

  .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
    }

    i {
      color: #1a73e8; // Icon color
    }

    h3 {
      font-size: 1.5rem;
      color: #333;
      margin: 15px 0;
    }

    p {
      color: #666;
      font-size: 1rem;
    }
  }
}
